.container-tabs {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;

    h1{
        font-size: 1.8rem;
    }

    .card-inner {
        position: relative;
        text-align: center;
        width: 18%;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-front {
        background: linear-gradient(to bottom, #f5deb3, #e6c285, #c2a875);
        border: 1px solid #a67c52;
        color: black;
        border-radius: 15px;
    }

    .image-container {
        border-radius: 50%;
        background-color: transparent;
        height: 280px;
        border: 1px solid #a67c52;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .image-personage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .tab-pane {
        color: #E8E4C9;
        text-align: center;
    }

    .nav-link {
        position: absolute;
        color: #e6c285;
        top: 120px;
        right: 120px;
        border-radius: 50% !important;
        border: solid 2px;

        &:hover {
            color: #e6c285;
        }

        width: 100px;
        height: 100px;
    }

    .nav-link.active {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .nav-pills .nav-link.active {
        background: linear-gradient(to bottom, #f5deb3, #e6c285, #c2a875);
    }

    .nav-pills {
        width: 35%;
    }

    .tab-content {
        display: flex;
        width: 35% !important;
        height: 40% !important;
        justify-content: center;
    }

    .orbit {
        position: relative;
        border-radius: 50%;
        height: 340px;
        width: 340px;
    }


    .nav-link:nth-child(1) {
        transform: rotate(0deg) translate(110px) rotate(0deg);
    }

    .nav-link:nth-child(2) {
        transform: rotate(90deg) translate(110px) rotate(-90deg);
    }

    .nav-link:nth-child(3) {
        transform: rotate(180deg) translate(110px) rotate(-180deg);
    }

    .nav-link:nth-child(4) {
        transform: rotate(270deg) translate(110px) rotate(-270deg);
    }

    .container-emblem{
        height: 280px;
    }


}